<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Saboteur</title>
        <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
        <link rel="stylesheet" type="text/css"  href="css/style.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="cabeceraYMenu">
          <!--Cabecera-->
          <div class="cabecera">
                    <div id="logo"><img src="images/Logo.png" alt="logo"></div>
          </div>
          <div class="conectado">
              <div class="textoConectado">
                  Conectado como <b><%=usuarioConectado%></b>
              </div>
          </div>
          <div id="fondoMenu">
            <img src="images/entrada_cueva.png" alt="logoDer">
          </div>
            <!--Menu-->
            <div class="menu">
    		<ul>
                    <li id="boton"><a href="desconectar"> <img id="imgBoton" src="images/piedra_cerrar_sesion.png" alt="Cerrar sesion"></a></li>
                    <li id="boton"><a href="verpartidas"> <img id="imgBoton" src="images/piedra_ver_partidas.png"  alt="Ver partidas"> </a></li>
                    <li id="boton"><a href="crearpartida"><img id="imgBoton" src="images/piedra_nueva_partida.png" alt="Crear partida"></a></li>
                </ul>
            </div>
        </div>


	<!--Cuerpo-->
        <div class="cuerpo">           
            <div class="entrada">
                
                <div>
                    
                    <h1>Bienvenido <%= nombre%> <%= apellidos%></h1>
                </div>
                
                <h1>Partidas En juego</h1>
                <div id="partidasEnJuego">
                    <Table id="tablaPartidas">
                        <tr>
                            <th>Nombre</th>
                            <th>Jugadores</th>
                            <th>Jug. maximos</th>
                            <th>Turnos jugados</th>
                            <th>Turnos totales</th>
                            <th>Fecha</th>
                            <th>Turno</th>
                        </tr>
                        <% partidas.parEnJuego.forEach(function(obj){%>
                        <%if(obj.esTurno===0){%>
                        <tr>
                        <%}else{%>
                        <tr id="seleccionado">
                        <%}%>    
                            <td><%=obj.Nombre%></td>
                            <td><%=obj.Num_Jugadores%></td>
                            <td><%=obj.Num_Max_Jugadores%></td>
                            <td><%=obj.Turno%></td>
                            <td><%=obj.Num_Turnos%></td>
                            <td><%=obj.Fecha_Creacion%></td>
                            <td><%=obj.Pos_turno%></td>
                            <td>
                                <a href="/entrarpartida/<%=obj.ID_Partida%>"><img src="images/piedra_entrar.png" alt="borrar" id="imgtabla"></a>
                            </td>
                        </tr> 
                   <%});%>
                    </table>
                </div>
                <h1>Partidas En Espera</h1>
                <div id="partidasDisponibles">
                    <Table id="tablaPartidas">
                        <tr>
                            <th>Nombre</th>
                            <th>Jugadores</th>
                            <th>Jug. maximos</th>
                            <th>Turnos</th>
                            <th>Fecha</th>
                        </tr>
                        <% partidas.parEspera.forEach(function(obj){%>
                        <tr>
                            <td><%=obj.Nombre%></td>
                            <td><%=obj.Num_Jugadores%></td>
                            <td><%=obj.Num_Max_Jugadores%></td>
                            <td><%=obj.Num_Turnos%></td>
                            <td><%=obj.Fecha_Creacion%></td>
                            <%if(obj.Num_Jugadores>=3 && obj.Creador==IDUsuario){%>
                            <td>
                                <a href="/iniciarpartida/<%=obj.ID_Partida%>"><img src="images/piedra_iniciar.png" alt="borrar" id="imgtabla"></a>
                            </td>
                            <%}%>
                        </tr> 
                   <%});%> 
                    </table>
                </div>
                <h1>Partidas Disponibles</h1>
                <div id="partidasDisponibles">
                    <Table id="tablaPartidas">
                        <tr>
                            <th>Nombre</th>
                            <th>Jugadores</th>
                            <th>Jug. maximos</th>
                            <th>Turnos</th>
                            <th>Fecha</th>
                        </tr>
                        <% partidas.parDisponibles.forEach(function(obj){%>
                        <tr>
                            <td><%=obj.Nombre%></td>
                            <td><%=obj.Num_Jugadores%></td>
                            <td><%=obj.Num_Max_Jugadores%></td>
                            <td><%=obj.Num_Turnos%></td>
                            <td><%=obj.Fecha_Creacion%></td>
                            <td>
                                <a href="/unirsepartida/<%=obj.ID_Partida%>"><img src="images/piedra_unirse.png" alt="borrar" id="imgtabla"></a>
                            </td>
                        </tr> 
                   <%});%> 
                    </table>
                </div>
                <h1>Partidas creadas</h1>
                <div id="partidasCreadas">
                    <Table id="tablaPartidas">
                        <tr>
                            <th>Nombre</th>
                            <th>Jugadores</th>
                            <th>Jug. maximos</th>
                            <th>Turnos</th>
                            <th>Fecha</th>
                        </tr>
                        <% partidas.parPropias.forEach(function(obj){%>
                        <tr>
                            <td><%=obj.Nombre%></td>
                            <td><%=obj.Num_Jugadores%></td>
                            <td><%=obj.Num_Max_Jugadores%></td>
                            <td><%=obj.Num_Turnos%></td>
                            <td><%=obj.Fecha_Creacion%></td>
                            <%if(obj.Estado_Partida===0){%>
                            <td>
                                <a href="/borrarpartida/<%=obj.ID_Partida%>"><img src="images/piedra_borrar.png" alt="borrar" id="imgtabla"></a>
                            </td>
                            <%}%>
                        </tr> 
                   <%});%> 
                    </table>
                </div>
                <h1>Partidas terminadas</h1>
                <div id="partidasTerminadas">
                 <Table id="tablaPartidas">
                        <tr>
                            <th>Nombre</th>
                            <th>Jugadores</th>
                            <th>¿Has ganado?</th>
                            <th>Turnos</th>
                            <th>Fecha</th>
                        </tr>
                        <% partidas.parTerminadas.forEach(function(obj){%>
                        <tr>
                            <td><%=obj.Nombre%></td>
                            <td><%=obj.Num_Jugadores%></td>
                            <%if(obj.Ganador==obj.Tipo_Jugador){%>
                                <td>SI</td>
                            <%}else{%>
                                <td>NO</td>
                            <%}%>
                            <td><%=obj.Turno%></td>
                            <td><%=obj.Fecha_Creacion%></td>
                            <td>
                                <a href="/verpartida/<%=obj.ID_Partida%>"><img src="images/piedra_ver.png" alt="borrar" id="imgtabla"></a>
                            </td>
                        </tr> 
                   <%});%> 
                    </table>   
                </div>
            </div>
        </div>


    </body>
</html>
