<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Saboteur</title>
        <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
        <link rel="stylesheet" type="text/css"  href="css/style.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="cabeceraYMenu">
          <!--Cabecera-->
          <div class="cabecera">
                    <div id="logo"><img src="images/Logo.png" alt="logo"></div>
          </div>
          <div id="fondoMenu">
            <img src="images/entrada_cueva.png" alt="logoDer">
          </div>
            <!--Menu-->
            <div class="menu">
    		<ul>
                    <li id="boton"><a href="desconectar"> <img id="imgBoton" src="images/piedra_cerrar_sesion.png" alt="Cerrar sesion"></a></li>
                    <li id="boton"><a href="verpartidas"> <img id="imgBoton" src="images/piedra_ver_partidas.png"  alt="Ver partidas"> </a></li>
                    <li id="boton"><a href="crearpartida"><img id="imgBoton" src="images/piedra_nueva_partida.png" alt="Crear partida"></a></li>
                </ul>
            </div>
        </div>


	<!--Cuerpo-->
        <div class="cuerpo">           
            <div class="entrada">
                <h1>Partidas En juego</h1>
                <div id="partidasEnJuego">
                    <Table id="tablaPartidas">
                        <tr>
                            <th>Nombre</th>
                            <th>Jugadores</th>
                            <th>Jug. maximos</th>
                            <th>Turnos restantes</th>
                            <th>Turnos</th>
                            <th>Fecha</th>
                        </tr>
                        <% partidas.parEnJuego.forEach(function(obj){%>
                        <tr>
                            <td><%=obj.Nombre%></td>
                            <td><%=obj.Num_Jugadores%></td>
                            <td><%=obj.Num_Max_Jugadores%></td>
                            <td><%=obj.Turnos%></td>
                            <td><%=obj.numTurnos%></td>
                            <td><%=obj.Fecha_Creacion%></td>
                            <td>
                                <form method="POST" action="/unirsepartida" enctype="multipart/form-data">
                                    <input type="hidden" value="<%=obj.IDPartida%>" name="oculto">
                                    <input type="image" src="images/piedra_entrar.png" alt="Submit Form" id="imgtabla">
                                </form>
                            </td>
                        </tr> 
                   <%});%> 
                    </table>
                </div>
                <h1>Partidas Disponibles</h1>
                <div id="partidasDisponibles">
                    <Table id="tablaPartidas">
                        <tr>
                            <th>Nombre</th>
                            <th>Jugadores</th>
                            <th>Jug. maximos</th>
                            <th>Turnos</th>
                            <th>Fecha</th>
                        </tr>
                        <% partidas.parDisponibles.forEach(function(obj){%>
                        <tr>
                            <td><%=obj.Nombre%></td>
                            <td><%=obj.Num_Jugadores%></td>
                            <td><%=obj.Num_Max_Jugadores%></td>
                            <td><%=obj.numTurnos%></td>
                            <td><%=obj.Fecha_Creacion%></td>
                            <td>
                                <form method="POST" action="/unirsepartida" enctype="multipart/form-data">
                                    <input type="hidden" value="<%=obj.IDPartida%>" name="oculto">
                                    <input type="image" src="images/piedra_unirse.png" alt="Submit Form" id="imgtabla">
                                </form>
                            </td>
                        </tr> 
                   <%});%> 
                    </table>
                </div>
                <h1>Partidas creadas</h1>
                <div id="partidasCreadas">
                    <Table id="tablaPartidas">
                        <tr>
                            <th>Nombre</th>
                            <th>Jugadores</th>
                            <th>Jug. maximos</th>
                            <th>Turnos</th>
                            <th>Fecha</th>
                        </tr>
                        <% partidas.parPropias.forEach(function(obj){%>
                        <tr>
                            <td><%=obj.Nombre%></td>
                            <td><%=obj.Num_Jugadores%></td>
                            <td><%=obj.Num_Max_Jugadores%></td>
                            <td><%=obj.numTurnos%></td>
                            <td><%=obj.Fecha_Creacion%></td>
                            
                        </tr> 
                   <%});%> 
                    </table>
                </div>
                <h1>Partidas terminadas</h1>
                <div id="partidasTerminadas">
                 <Table id="tablaPartidas">
                        <tr>
                            <th>Nombre</th>
                            <th>Jugadores</th>
                            <th>Ganador</th>
                            <th>Turnos</th>
                            <th>Fecha</th>
                        </tr>
                        <% partidas.parTerminadas.forEach(function(obj){%>
                        <tr>
                            <td><%=obj.Nombre%></td>
                            <td><%=obj.Num_Jugadores%></td>
                            <td><%=obj.Ganador%></td>
                            <td><%=obj.Turnos%></td>
                            <td><%=obj.Fecha_Creacion%></td>  
                            <td>
                                <form method="POST" action="/unirsepartida" enctype="multipart/form-data">
                                    <input type="hidden" value="<%=obj.IDPartida%>" name="oculto">
                                    <input type="image" src="images/piedra_ver.png" alt="Submit Form" id="imgtabla">
                                </form>
                            </td>
                        </tr> 
                   <%});%> 
                    </table>   
                </div>
            </div>
        </div>


    </body>
</html>
